@model AquaDoor.Models.DoorTypes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DoorTypes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoorType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoorType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LockType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LockType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
